<nav class="teal darken-1">
    <div class="nav-wrapper container">
        <a href="/dashboard" class="brand-logo"><i class="fas fa-laptop-medical left"></i>MyChronicle</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fas fa-bars"></i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/stories">Public Chronicles</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/auth/logout">Logout</a></li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a href="/stories">Public Chronicles</a></li>
    <li><a href="/dashboard">Dashboard</a></li>
    <li><a href="/auth/logout">Logout</a></li>
</ul>