<div class="section">

    <h4 class="teal-text text-darken-1">Managing the logistics of a chronic, undiagnosed illness can be as painful as the disease itself.</h4>

    <p class="grey-text text-darken-3">When you have a chronic illness that goes undiagnosed for years, your health history becomes an unwieldy, tangled mess of faded memories and scattered medical records. In the first year or two, it's easy to stay organized and recount what has happened to you from memory. But as the years slip by, your memories blur. You see more and more providers, creating disconnected medical records that the U.S. healthcare system has no good way to consolidate. It becomes increasingly difficult to tell your story, and you begin to tell different versions of it to different providers.</p>
    
    <p class="grey-text text-darken-3">Many providers underestimate how traumatizing it can be for a patient to recount their health history. Years into a chronic illness, it is normal to feel hopeless about ever finding a diagnosis. It takes an enormous amount of energy to drag yourself to yet another specialist, as you try to convince yourself that maybe this one will be able to help. When the doctor asks you to explain what's going on, you do your best to recount everything that has happened to your body, knowing that the clock is ticking on your brief appointment. Eventually, every doctor's appointment becomes an exhausting, triggering experience.</p>
    
    <p class="grey-text text-darken-3">MyChronicle offers simple templates for gathering your thoughts and summarizing key details about your illness - so you can easily share your story when you need to.</p>

</div>