<div class="banner section">
    <img class="responsive-img" src="/css/woman-writing.jpg" alt="Black woman writing in a journal">

    <div>
        <h2 class="teal-text text-darken-1">Your body, your story.</h2>
        <h5 class="grey-text text-darken-3">Capture and communicate key details about a chronic, undiagnosed illness - in your own words.</h5>
    </div>
</div>
