p {
  margin: 10px 0 !important;
}

.login-container {
  width: 400px;
  margin-top: 50px;
  text-align: center;
}

.fa-small {
  font-size: 16px !important;
}

.btn-float {
  float: left;
  margin-right: 10px;
}

.img-small {
  width: 180px;
}

.banner{
  margin-top: 30px;
}

.radio{
  margin-right: 25px;
}

/* Fix for cut-off month in datepicker: */
.datepicker-controls .select-month input {
  width: 5em;
}

/* Fix for wrapping date on the left in datepicker: */
.datepicker-date-display .date-text{
  font-size: 2.2rem;
}