/*Base styles*/
p {
  margin: 10px 0 !important;
}

.fa-small {
  font-size: 16px !important;
}

.btn-float {
  float: left;
  margin-right: 10px;
}

/*Home page*/
.banner{
  margin-top: 30px;
}

/*Login pages*/
.login-container {
  width: 400px;
  margin-top: 50px;
  text-align: center;
}

.login-btn {
  width: 245px;
}

.alert {
  width: 100%;
  height: 36px;
  line-height: 36px;
  padding: 0 16px;
  text-align: center;
  font-size: 14px;
  letter-spacing: .5px;
}

.alert-multiple {
  margin-top: 10px;
}

/*Set dashboard table columns to fixed widths */
.title-column {
  width: 40%;
}

.date-column, .type-column {
  width: 20%
}

.icons-column {
  min-width: 115px;
}

/*Fix for required drop-down and textarea validation*/
select[required], textarea[required] {
  display: block;
  width: 0;
  height: 0;
  padding: 0;
  position: absolute;
  left: 50%;
}

/*Fix for cut-off month in datepicker*/
.datepicker-controls .select-month input {
  width: 5em;
}

/*Fix for wrapping date in datepicker*/
.datepicker-date-display .date-text{
  font-size: 2.2rem;
}

/*Add/edit chronicle radio spacing*/
.radio {
  margin-right: 25px;
}

/*Fix for chip overflow*/
.chip {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*Show record*/
.block {
  display: block;
}

/*HACKY FIXES FOR MOBILE. REFACTOR INTO CLEAN BREAKPOINTS*/

/*Fix header for mobile*/
@media screen and (max-width: 600px) {
  nav .fas{
    line-height: 56px;
  }
  nav .brand-logo{
    white-space: nowrap;
  }
}

/*Fix header for very small devices (galaxy fold)*/
@media screen and (max-width: 350px) {
  nav .brand-logo, nav i{
    font-size: 1.5rem;
  }
}

/*Fix login for mobile*/
@media screen and (max-width: 400px) {
  .login-container, .login-btn {
    max-width: 100%;
  }
  .login-header {
    font-size: 2.5rem;
  }
}

/*Fix dashboard table for mobile*/
table.responsive-table th {
  display: none;
}

/*Fix add/remove period/topic buttons for mobile*/
@media screen and (max-width: 390px){
  #removePeriod {
    margin-top: 5px;
  }
}

@media screen and (max-width: 282px){
  #removeTopic {
    margin-top: 5px;
  }
}

/*Fix radio buttons for mobile*/
@media screen and (max-width: 678px){
  .radio {
    display: block;
  }
}