<h3 class="login-header"><i class="fas fa-laptop-medical"></i> MyChronicle</h3>
<div class="section">
    <p class="lead">Capture and communicate key details about a chronic, undiagnosed illness - in your own words.</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn login-btn red darken-1">
        <i class="fab fa-google left"></i> Log In With Google
    </a>
</div>
<div>
    <a href="/auth/local" class="btn login-btn light-blue darken-3">
        <i class="fa-solid fa-user left"></i> Log In With Password
    </a>
</div>
<div class="section">
    <a href="/auth/signup" class="light-blue-text text-darken-3">No account yet? Sign up</a>
</div>
<div>
    <form action="/auth/local" method="POST">
        <div>
            <label for="email" class="left"></label>
            <input type="email" name="email" id="email" value="demo@mychronicle.com" hidden/>
            <label for="password" class="left"></label>
            <input type="password" name="password" id="password" value="Mzj-opeP_qC43!et" hidden/>
        </div>
        <div>
            <button type="submit" class="btn login-btn teal darken-1">Explore a demo account</button>
        </div>
    </form>
</div>